In [1]:
import scanpy as sc

Matplotlib created a temporary config/cache directory at /tmp/matplotlib-pej2ah00 because the default path (/home/jovyan/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.
Matplotlib is building the font cache; this may take a moment.

In [12]:
my_file = "/share/ScratchGeneral/anncuo/OneK1K/expression_objects/sce1.h5ad"
# my_file = "/share/ScratchGeneral/anncuo/OneK1K/expression_objects/sce22.h5ad"

In [13]:
adata = sc.read(my_file)

In [14]:
adata

AnnData object with n_obs × n_vars = 1272489 × 302
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'pool', 'individual', 'percent.mt', 'latent', 'nCount_SCT', 'nFeature_SCT', 'cell_type'
    var: 'sct.detection_rate', 'sct.gmean', 'sct.variance', 'sct.residual_variance', 'sct.variable'
    obsm: 'X_pca', 'X_umap'
    varm: 'PCs'

In [15]:
adata.obs

,orig.ident,nCount_RNA,nFeature_RNA,pool,individual,percent.mt,latent,nCount_SCT,nFeature_SCT,cell_type
AAACCTGAGAATGTTG-1,0,401.0,123,0,691_692,1.451409,0,281.0,122,1
AAACCTGAGAGAACAG-1,0,182.0,89,0,693_694,3.700691,0,198.0,89,14
AAACCTGAGCATGGCA-1,0,187.0,57,0,688_689,3.386373,0,209.0,57,0
AAACCTGAGTATTGGA-1,0,657.0,185,0,683_684,2.626147,0,249.0,113,5
AAACCTGAGTGTCCCG-1,0,257.0,94,0,684_685,4.911875,0,230.0,94,3
...,...,...,...,...,...,...,...,...,...,...
TTTGTCATCCGCTGTT-9,0,325.0,102,8,796_797,3.118305,0,253.0,102,13
TTTGTCATCCGTTGTC-9,0,368.0,106,8,800_801,2.147175,0,253.0,105,0
TTTGTCATCGCCGTGA-9,0,328.0,94,8,821_822,2.314197,0,233.0,92,0
TTTGTCATCGCGGATC-9,0,339.0,124,8,840_841,3.432701,0,255.0,123,0
TTTGTCATCTCGTATT-9,0,369.0,143,8,821_822,2.309307,0,291.0,142,3

In [16]:
adata.var

,sct.detection_rate,sct.gmean,sct.variance,sct.residual_variance,sct.variable
AL590822.1,0.001200,0.000839,0.001248,1.131237,1
AL591806.1,0.000011,0.000008,0.000011,1.469688,1
HES4,0.013809,0.012661,0.055939,1.950852,1
ISG15,0.226770,0.206337,0.884674,1.904921,1
TNFRSF18,0.038506,0.030501,0.071765,1.661204,1
...,...,...,...,...,...
RP4-803J11.2,0.001161,0.000807,0.001174,1.177608,1
RP5-827C21.6,0.000454,0.000316,0.000466,1.146583,1
RP11-544D21.2,0.000407,0.000283,0.000409,1.188024,1
RP11-518L10.5,0.000825,0.000573,0.000832,1.134904,1
RP11-488L18.10,0.033346,0.023821,0.035441,1.167066,1

In [17]:
sc.pp.log1p(adata)

/share/ScratchGeneral/anncuo/jupyter/conda_notebooks/envs/cellregmap_notebook/lib/python3.7/site-packages/scanpy/preprocessing/_simple.py:352: RuntimeWarning: invalid value encountered in log1p
  np.log1p(X, out=X)

In [18]:
adata.X.shape

(1272489, 302)

In [21]:
gene = "HES4"

In [26]:
adata[:, ['HES4']].X.shape

(1272489, 1)